ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}
#x{
    width: 180px;
    height: 190px;
    border-radius: 60%;
    margin-left: 1100px;
}
body{
    background-image: url("http://www.intrawallpaper.com/static/images/cool_wooden_wall_1920x1200_cool_twitter_backgrounds_NZbq1gR.jpg");
    color: white;
}
#y{
   width: 400px;
   height: 400px;
   margin-right: 10px;
   margin-left: 800px;
}
footer{
    text-align: center;
}
.x{
    color: red;

}
.w{color: blue;}
.git{
 background: url("http://files.softicons.com/download/social-media-icons/soft-social-icons-by-elvinas-kreatyvus/png/48x48/Github.png");
    width: 48px;
    height: 48px;
    display: block;

}
.lin{
 background: url("http://files.softicons.com/download/internet-cons/social-media-icons-by-paul-robert-lloyd/png/48/linkedin.png");
    width: 48px;
    height: 48px;
    display: block;

}
.bit{
    background: url("http://webartesanal.com/lima-soul-demo/templates/Blue/HTML/img/icon-set/48x48/icon-bitbucket.png");
    width: 48px;
    height: 48px;
    display: block;

}